.main-box{
    background-color: #3A4042;
    width: 630px;
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 85px 10px;
}

.main-box .main-title{
    margin-bottom: 38px;
}